body {
  background-color: #f8f5ee;
  color: black;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
}

@font-face {
  font-family: 'Commissioner';
  font-weight: 600;
  src: local('Commissioner Bold'), local('Commissioner-Bold'), url('https://raw.githubusercontent.com/itsjojun/lnk/main/Commissioner-Bold.woff2') format('woff2');
  /* Fügen Sie hier das font-display-Attribut hinzu */
  font-display: swap;
}

.profile-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  height: auto;
  max-width: 100px;
  border-radius: 50%;
}

.profile-name {
  text-align: center;
  font-family: 'Commissioner', sans-serif;
  padding: 30px;
  font-size: 16px;
}

.links {
  text-align: center;
  margin-top: 20px;
  border: 1px solid black;
  border-width: 2px;
  padding: 20px;
  width: 290px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-family: 'Commissioner', sans-serif;
  color: black;
  transition: color 0.5s;
}

a:hover {
  color: rgb(212, 210, 210);
  background-color: black;
  animation-timing-function: cubic-bezier();
}

.copyright-text{
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
  margin-top: 40px;
  padding: 0;
  font-family: 'Commissioner', sans-serif;
  font-size: 14px;
  box-sizing: border-box;
}